ACRIA_CLIENT_ADDRESS = "0xfe3f74c928d8c9451BF12d196BC8910a3AC0f3A1"
ACRIA_MAIN_ADDRESS = "0x1211739D521b82798F48530B09856e07371a9EE8"
ACRIA_NODE_ADDRESS = "0x0ef77e4c0c79764625e2233f579ca40e582bde20"
ACRIA_TOKEN_ADDRESS = "0x819a14413E5499fb8d56DfDCE468057E9f72C2b6"

# use ipc or http
WEB3_USE_IPC = True

# needed for Goerli Testnet
WEB3_MIDDLEWARE_ONION_INJECT = True

# truffle development blockchain address
WEB3_HTTP_PROVIDER_URL = "http://127.0.0.1:8545"

# main 
WEB3_IPC_PROVIDER_URL = "/run/media/a/a/eth/geth.ipc"